<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="126273a8-701a-443f-9b04-95a9c1bce0b6" name="Regression Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="126273a8-701a-443f-9b04-95a9c1bce0b6fileName">Regression-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
